/* 
@media (prefers-reduced-motion: no-preference) {
} */

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  font-family: JetBrains Mono;
}
.h1{
  color: white;
  font-size: 3rem;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  width: 45vw;
}

.section{
  background-color: white;
  color: deepskyblue;
  text-align: center;
  border-radius: 10px;
  width: 80%;

}

.yuda20{
  font-size: 2rem;
  margin-bottom: 2%;
  /* transition:  1s ease; */
}
.yuda{
  margin-bottom: 5%;
}

.button{
  color: white;
  color: rgb(0, 115, 255);
  width: 25%;
  height: 10%;
  font-size: large;
  border-radius: 20px;
  border: 1px rgb(0, 115, 255);
  padding: 2.5%;
}

.button:hover{
  font-size:larger;
  color: aqua;
}
