.totalHome{
  background-color: white;
  border-radius: 20px;
  width: 21rem;
  height: 73vh;
  display: flex;
  flex-direction: column;
  font-family: JetBrains Mono;
  transition: all 0.5s ease;
}

.wrapper{
  color: #4C4C4C;
  margin: 0 2.5rem ;
}

.today{
  text-align: center;
  color: #4C4C4C;
  font-family: JetBrains Mono;
  font-size: 1.1875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}