:root {
  --preview-height:30%;
}

.diaryPreview {
  background-color: #defdff;
  height: var(--preview-height);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.diaryDate {
  margin: 0.3rem;
  font-size: small;
  font-weight: 800;
}

.wrapper {
  height: 60%;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

.contentWrapper {
  display: flex;
  height: 90%;
  justify-content: space-between;
  align-items: center;
}

.sideBtns {
  color: black;
  font-size: 1.1rem;
}
.content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contentText {
  font-size: small;
  margin: 0;
  font-weight: 800;
  margin-top: 1vh;
}

.carouselBtns {
  color: #d9d9d9;
  font-size: xx-small;
  padding: 0% 4% 0% 4%;
  margin-bottom: 1vh;
}

.carouselBtnsWrapper {
  display: flex;
  justify-content: center;
}

.specificWeatherWrapper {
  margin-top: 1vh;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.specificWeatherParagraph {
  margin: 0;
  font-size: 0.58rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.constent-slide-out-left {
  --slide-x:50%
  -webkit-animation: slide-out-left 0.5s ease-in-out both;
  animation: slide-out-left 0.5s ease-in-out both;
}
/**
 * ----------------------------------------
 * animation slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--slide-x)));
    transform: translateX(calc(-1 * var(--slide-x)));
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(calc(-1 * var(--slide-x)));
    transform: translateX(calc(-1 * var(--slide-x)));
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
.constent-slide-in-left {
  --slide-x:50%
  -webkit-animation: slide-in-left 0.5s ease-in-out both;
  animation: slide-in-left 0.5s ease-in-out both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(calc(-1 * var(--slide-x)));
    transform: translateX(calc(-1 * var(--slide-x)));
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(calc(-1 * var(--slide-x)));
    transform: translateX(calc(-1 * var(--slide-x)));
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */

.constent-slide-in-right {
  --slide-x:50%
  -webkit-animation: slide-in-right 0.5s ease-in-out both;
  animation: slide-in-right 0.5s ease-in-out both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(var(--slide-x));
    transform: translateX(var(--slide-x));
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(var(--slide-x));
    transform: translateX(var(--slide-x));
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
.constent-slide-out-right {
  --slide-x:50%
  -webkit-animation: slide-out-right 0.5s ease-in-out both;
  animation: slide-out-right 0.5s ease-in-out both;
}
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(var(--slide-x));
    transform: translateX(var(--slide-x));
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(var(--slide-x));
    transform: translateX(var(--slide-x));
    opacity: 0;
  }
}

