.total{
  background-color: white;
  width: 90vw;
  height: 83svh;
  border-radius: 20px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  transition: all 0.7s ease;

}

.closeBtn{
  background-color: white;
  border-radius: 50px;
  height: 3vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s ease;
  transition-delay: 1s;
}

.closeBtnIcon{
  transition: all 0.7s ease;
  color: black;
  margin: 1em 1em 0 0;
}

.selectWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
